.header{
    display: flex;
    align-items: end;
}



.titulo{
    display: flex;
}

.titulo img{
    max-width: 200px;
    border-radius: 50%;
    margin-left: -45px;
    display: inline;
}

.container{
    display: flex;
    justify-content: right;
    justify-items: baseline;
}


.article img{ 
  width: 100%;
  height: auto;
  display: block;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;             
}
nav ul li a {
  text-decoration: none;

}
.container {
  display: flex;
  justify-content: right;
  justify-items: baseline;
  
}
nav ul {
  display: flex;
  gap: 15px; 
}
.logo-area {
  display: flex;
  align-items: center;    
  gap: 10px;               
}
.logo-area img {
  max-width: 100px;        
  height: auto;
}