.header{
    display: flex;
    align-items: end;
}
.titulo{
    display: flex;
}

.titulo img{
    max-width: 200px;
    border-radius: 50%;
    margin-left: -45px;
    display: inline;
}

.container{
    display: flex;
    justify-content: right;
    justify-items: baseline;
}


 .article img{ 
     width: 100%;
  height: auto;
  display: block;
 }